  {% extends 'Modele_admin/base_modele.html' %}
   
  {% block main_content %}

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
<div class="row align-items-center py-4">
<div class="col-lg-6 col-7">

<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
<li class="breadcrumb-item "><a href="#" class="text-info"><i class="fas fa-home"></i></a></li>
<li class="breadcrumb-item"><a href="#" class="text-info">Dashboards</a></li>
<li class="breadcrumb-item active" aria-current="page">Default</li>
</ol>
</nav>
</div>

</div>

      </div>
    </section>
    <!-- /.content -->
   {% endblock main_content %}
